@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(reset.css);
@import url(grid.css);

.eventful-badge,
.eventful-badge * {
  margin: 0             !important;
  padding: 0            !important;
  border: 0             !important;
  text-align: center    !important;
  color: #CCC           !important;
  font-family: Arial    !important;
  text-decoration: none !important;
}

.eventful-small {     
  position: relative    !important;
  width: 100px          !important;
  font-size: 11px       !important;
  line-height: 11px     !important;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	line-height: 1.5;
}

h1 {
	font-size: 200%;
}

label {
	font-family: 'Roboto', sans-serif;
	font-size: 16pt;
	font-weight: 400;
	line-height: 1.5;
}

#plan-button {
	display: block;
	margin-top: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	line-height: 1.5;
}

#plan-button:focus {
	border-color: rgb(20, 200, 220);
}