@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);
@import url(reset.css);
@import url(grid.css);

.eventful-badge,
.eventful-badge * {
  margin: 0             !important;
  padding: 0            !important;
  border: 0             !important;
  text-align: center    !important;
  color: #CCC           !important;
  font-family: Arial    !important;
  text-decoration: none !important;
}

.eventful-small {     
  position: relative    !important;
  width: 100px          !important;
  font-size: 11px       !important;
  line-height: 11px     !important;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	line-height: 1.5;
}

h1 {
	font-size: 200%;
}

label {
	font-family: 'Roboto', sans-serif;
	font-size: 16pt;
	font-weight: 400;
	line-height: 1.5;
}

#plan-button {
	display: block;
	margin-top: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	line-height: 1.5;
}

#plan-button:focus {
	border-color: rgb(20, 200, 220);
}

#calendar-month {
	text-align: center;
}

.col-day, .col-day-empty, .col-week {
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	width: 12.22%;
}

.col-day, .col-day-empty {
	text-align: center;
	border: 1px solid #DDD;
	height: 70px;
	font-size: 120%;
	font-weight: 100;
}

.col-day-empty {
	border: 1px solid #FFF;
}

.col-day:hover {
	color: rgb(20, 200, 220);
	border: 2px solid rgb(20, 200, 220);
	font-weight: 300;
	cursor: pointer;
}

.col-day span {
	display: inline-block;
	vertical-align: sub;
}

.col-day-today {
	color: rgb(20, 200, 220);
	border: 2px solid rgb(20, 200, 220);
}